{
  "presets": ["@babel/preset-env"], // fordító
  "plugins": [
    ["@babel/plugin-syntax-import-attributes", { "deprecatedAssertSyntax": true }] // lehetővé teszi az assert attribútumot az importálásoknál
  ]
}